* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 80%;
    margin: 0 auto;
    background-color: #eeeeee;
    /* border: 1px solid #000; */
}

a {
    text-decoration: none;
    color: #333333;
    letter-spacing: 0.8px;
    transition: 0.42s;
}

a:hover {
    color: #999999;
    background-color: #dddddd;
}

button {
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    margin: auto;
    padding: 5px;
    border-radius: 20px;
}

/* ---------- Header ---------- */
header {
    height: 10vh;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}

.container {
    margin: 0 auto;
    /* max-width: 80%; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 10vh;
}

.nav a {
    margin: auto 20px;
}

.toggle {
    display: none;
}

@media screen and (max-width: 768px) {
    header {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .container {
        position: absolute;
    }

    .logo {
        display: inline-block;
        position: sticky;
    }

    .nav {
        display: none;
    }

    .hideMenu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 10vh;
        width: 100%;
    }

    .hideMenu a {
        margin: 5px auto;
    }

    .toggle {
        display: block;
        background: none;
        cursor: pointer;
        font-size: 36px;
        position: absolute;
        left: 55vw;
        opacity: 70%;
    }

}

/* ---------- Header ---------- */

/* ---------- Home ---------- */
.home {
    display: flex;
    width: 100%;
    height: 88vh;
    /* border: 1px solid #000; */
}

.homeContainer {
    margin: auto;
    text-align: center;
    font-size: 60px;
    letter-spacing: 1px;
    line-height: 1.5;
}

/* ---------- Home ---------- */